@inherits LayoutComponentBase
<!-- Conteúdo principal -->
<main class="flex-fill container my-4">
    <article>
        @Body
    </article>
</main>

<!-- Rodapé -->
<footer class="bg-light text-center py-3 mt-auto border-top">
    <small>&copy; @(DateTime.Now.Year) - Minha Aplicação</small>
</footer>
